@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

.clear {
  clear: both; }

light {
  color: #ED462B; }

body h1 {
  font-size: 2.6vw; }

.container {
  width: 90%;
  height: 80px;
  margin-left: auto;
  margin-right: auto; }

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 95px;
  background-color: #344249;
  box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .nav .nav-block {
    display: flex;
    max-width: 1950px;
    margin: 0 auto; }
    .nav .nav-block .logo {
      margin-top: 12px;
      justify-content: flex-start;
      display: flex;
      align-items: center; }
      .nav .nav-block .logo img {
        width: 65px; }
      .nav .nav-block .logo span {
        margin-left: 1.5vw;
        font-size: 2.5vw;
        color: #fff;
        transition: all .5s;
        cursor: pointer; }
        .nav .nav-block .logo span:hover {
          color: #ED462B; }
    .nav .nav-block .menu {
      display: flex;
      align-items: flex-end;
      position: relative;
      margin-left: auto; }
      .nav .nav-block .menu a {
        color: #fff;
        font-size: 21px;
        margin-left: 20px;
        transition: all .5s;
        cursor: pointer; }
        .nav .nav-block .menu a:hover {
          color: #ED462B; }

.mobil-menu {
  display: none;
  position: fixed;
  background-color: #344249;
  width: 100%;
  z-index: 999999; }
  .mobil-menu .nav-container {
    position: relative;
    width: 100%;
    height: 55px; }
    .mobil-menu .nav-container .logo {
      display: flex;
      align-items: center;
      position: relative;
      left: 5%;
      top: 50%;
      transform: translateY(-50%); }
      .mobil-menu .nav-container .logo img {
        width: 35px; }
      .mobil-menu .nav-container .logo a {
        color: #fff;
        font-size: 3vw !important;
        margin-left: 1%; }
    .mobil-menu .nav-container .fas {
      color: #fff;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      transition: .3s ease-in-out all; }
      .mobil-menu .nav-container .fas:hover {
        cursor: pointer;
        color: #e8491d; }
    .mobil-menu .nav-container ul {
      border: 1px solid #344249;
      display: none;
      background-color: rgba(52, 66, 73, 0.9);
      margin-top: 13px;
      width: 100%;
      text-align: center;
      z-index: 0; }
      .mobil-menu .nav-container ul li {
        margin-top: 7px;
        margin-bottom: 13px; }
        .mobil-menu .nav-container ul li a {
          color: #fff; }
      .mobil-menu .nav-container ul hr {
        width: 50% !important;
        margin: 0 auto;
        border: none;
        padding: 1px;
        background-color: #3f4f57; }

#header .parallax-window {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: transparent; }
  #header .parallax-window .header-content {
    width: 50%;
    position: relative;
    left: 25%;
    right: 25%;
    top: 50%;
    text-align: center;
    z-index: 22; }
    #header .parallax-window .header-content h1 {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 15px 15px 0 0;
      color: #fff;
      font-size: 3.2vw !important;
      margin-bottom: 25px;
      box-shadow: 0 10px 20px -5px #ED462B;
      letter-spacing: 1px; }
    #header .parallax-window .header-content h3 {
      text-shadow: 1px 1px 1px #000;
      color: #fff;
      font-size: 1.6vw;
      letter-spacing: 1px; }
    #header .parallax-window .header-content .header-contact-block {
      margin-top: 50px;
      width: 100%; }
      #header .parallax-window .header-content .header-contact-block .fab, #header .parallax-window .header-content .header-contact-block .far {
        margin-left: 5%;
        margin-right: 5%;
        color: rgba(255, 255, 255, 0.5);
        font-size: 3.5vw;
        transition: all .2s;
        transform: scale(1);
        transition: all ease-in-out .4s; }
        #header .parallax-window .header-content .header-contact-block .fab:hover, #header .parallax-window .header-content .header-contact-block .far:hover {
          color: #e8491d;
          transform: scale(1.1); }
        #header .parallax-window .header-content .header-contact-block .fab span, #header .parallax-window .header-content .header-contact-block .far span {
          font-size: 1.9vw;
          color: #fff;
          text-shadow: 1px 0 1px #000; }
#header .back-to-top {
  position: fixed;
  right: 1%;
  bottom: 3%;
  z-index: 999; }
  #header .back-to-top .far {
    font-size: 3vw;
    background-color: rgba(232, 73, 29, 0.7);
    padding: 2px;
    border-radius: 50%;
    color: rgba(52, 66, 73, 0.9);
    cursor: pointer; }

#works {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  #works .shape1 {
    width: 1.1vw;
    height: 100%;
    background-color: #ED462B;
    position: absolute;
    margin-left: 50.2%;
    padding: 0; }
  #works .shape2 {
    width: 1.1vw;
    height: 100%;
    background-color: #344249;
    position: absolute;
    margin-left: 48.8%;
    padding: 0; }
  #works h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #344249; }
  #works hr {
    border: none;
    padding: 3px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #344249; }
  #works .fa-angle-double-down {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
    top: -24px;
    color: #344249;
    background-color: #fff;
    padding: 0 10px; }
  #works .work-content {
    max-width: 1950px;
    margin: 0 auto; }
    #works .work-content .work-block {
      position: relative;
      width: 80%;
      background-color: #fff;
      height: 480px;
      margin-top: 70px;
      margin-bottom: 70px;
      display: flex;
      justify-content: center;
      box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.4); }
      #works .work-content .work-block .block-content {
        margin: 50px; }
      #works .work-content .work-block img {
        width: 650px; }
    #works .work-content .box1 {
      position: relative;
      margin-left: auto; }
    #works .work-content .box2 {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      margin-right: auto; }
    #works .work-content .box3 {
      position: relative;
      margin-left: auto;
      margin-bottom: 100px;
      word-wrap: break-word; }
    #works .work-content p {
      color: #344249;
      font-size: 1.5vw; }
    #works .work-content h2 {
      font-size: 2.2vw;
      margin-bottom: 20px; }

#referans {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 30px;
  background-color: #344249;
  z-index: 3; }
  #referans h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ED462B; }
  #referans hr {
    border: none;
    padding: 3px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ED462B; }
  #referans .fa-angle-double-down {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
    top: -24px;
    color: #ED462B;
    background-color: #344249;
    padding: 0 10px; }
  #referans .referans-content {
    position: relative;
    max-width: 1800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #referans .referans-content .referans-card {
      border-radius: 15px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 18%;
      height: 450px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #fff;
      box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.4); }
      #referans .referans-content .referans-card:hover {
        box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.6); }
      #referans .referans-content .referans-card .card-img {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat; }
        #referans .referans-content .referans-card .card-img img {
          width: 100% !important; }
      #referans .referans-content .referans-card .card-cont {
        width: 96%;
        height: 100%;
        position: relative;
        top: 0;
        margin-left: 2%;
        margin-right: 2%; }
        #referans .referans-content .referans-card .card-cont h1 {
          font-size: 2em; }
        #referans .referans-content .referans-card .card-cont h4 {
          font-size: 1.5vw;
          color: #344249;
          text-align: center;
          margin: 5px 0; }
        #referans .referans-content .referans-card .card-cont p {
          word-wrap: break-word;
          font-size: 1.2vw;
          color: #344249;
          text-align: center; }

#kurumsal {
  position: relative;
  width: 100%;
  background-color: #e8491d;
  z-index: 0;
  padding-bottom: 6%; }
  #kurumsal h2, #kurumsal p {
    color: #f2f2f2;
    text-align: center; }
  #kurumsal .teklif {
    width: 100%; }
    #kurumsal .teklif h3 {
      margin-top: 50px;
      text-align: center;
      font-size: 2.3vw; }
      #kurumsal .teklif h3 a {
        color: white;
        border-radius: 15px;
        padding: 8px 15px;
        background-color: #9e04f7;
        transition: all ease-in-out .2s;
        transform: scale(1); }
        #kurumsal .teklif h3 a:hover {
          background-color: #8802d6;
          transform: scale(1.1); }
  #kurumsal .firma-content {
    padding-top: 190px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around; }
    #kurumsal .firma-content h2 {
      margin-top: 20px;
      font-size: 1.8vw; }
    #kurumsal .firma-content p {
      font-size: 1.3vw;
      margin-top: 20px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px; }
    #kurumsal .firma-content .about {
      border-radius: 20px;
      background-image: linear-gradient(to bottom left, #e8491d, rgba(205, 45, 248, 0.6));
      width: 45%;
      transform: scale(1);
      transition: all ease-in-out .4s; }
      #kurumsal .firma-content .about:hover {
        background-image: linear-gradient(to bottom, #e8491d, rgba(205, 45, 248, 0.5));
        transform: scale(1.05); }
    #kurumsal .firma-content .mission {
      border-radius: 20px;
      background-image: linear-gradient(to bottom right, #e8491d, rgba(205, 45, 248, 0.6));
      width: 45%;
      transform: scale(1);
      transition: all ease-in-out .4s; }
      #kurumsal .firma-content .mission:hover {
        background-image: linear-gradient(to bottom, #e8491d, rgba(205, 45, 248, 0.5));
        transform: scale(1.05); }

#kurumsal:after {
  position: absolute;
  width: 100%;
  height: 90px;
  content: "";
  background-color: #344249;
  top: -3px;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: top right;
  transform: skewY(2deg);
  z-index: -1; }

#gallery-img {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #gallery-img .container {
    padding-top: 100px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box; }
    #gallery-img .container h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      color: #344249; }
    #gallery-img .container .tz-gallery .card {
      border-radius: 10px;
      float: left;
      width: 18%;
      height: 200px;
      margin: 1%;
      box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.4);
      transition: .4s all ease-in-out;
      transform: scale(1);
      transition: all ease-in-out .4s; }
      #gallery-img .container .tz-gallery .card:hover {
        box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.6);
        transform: scale(1.05); }
      #gallery-img .container .tz-gallery .card img {
        border-radius: 10px;
        height: 100%;
        width: 100%; }

#gallery-img:after {
  position: absolute;
  width: 100%;
  height: 80px;
  content: "";
  background-color: #e8491d;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: top right;
  transform: skewY(2deg);
  z-index: -1; }

#footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #344249;
  position: relative;
  width: 100%; }
  #footer .footer-nav {
    text-align: center; }
    #footer .footer-nav a {
      margin-left: 10px;
      margin-right: 10px;
      color: #fff; }
      #footer .footer-nav a:hover {
        color: #e8491d; }
  #footer .footer-content {
    padding-top: 40px;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    box-sizing: border-box; }
    #footer .footer-content .footer-block {
      width: 45%;
      display: flex;
      flex-direction: column; }
      #footer .footer-content .footer-block h2 {
        letter-spacing: 2px;
        font-size: 1.6vw;
        text-align: center;
        color: #ffffff; }
      #footer .footer-content .footer-block .fas {
        font-size: 2.4vw;
        color: #ED462B !important; }
      #footer .footer-content .footer-block form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        #footer .footer-content .footer-block form input {
          overflow: hidden;
          outline: none;
          width: 98%;
          height: 65px;
          margin-top: 15px;
          margin-bottom: 5px;
          border: none;
          background-color: rgba(255, 255, 255, 0.6);
          border-radius: 15px;
          font-size: 18px;
          color: white;
          transition: all .4s;
          padding-left: 2%; }
          #footer .footer-content .footer-block form input:focus {
            margin-right: auto;
            margin-left: auto;
            background-color: rgba(32, 204, 8, 0.5); }
          #footer .footer-content .footer-block form input::placeholder {
            padding-left: 15px;
            font-size: 1vw;
            color: white; }
        #footer .footer-content .footer-block form #btn {
          background-color: #ED462B;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          transition: all ease-in-out .2s; }
          #footer .footer-content .footer-block form #btn:hover {
            background-color: rgba(32, 204, 8, 0.5); }
      #footer .footer-content .footer-block .block-cont {
        text-align: center; }
        #footer .footer-content .footer-block .block-cont h3 {
          font-size: 1.5vw;
          margin-top: 30px;
          color: #fff; }
        #footer .footer-content .footer-block .block-cont .fab {
          color: #ED462B;
          margin: 30px;
          transition: all ease-in-out .2s; }
          #footer .footer-content .footer-block .block-cont .fab:hover {
            color: #fff; }
        #footer .footer-content .footer-block .block-cont iframe {
          margin-top: 35px;
          width: 95% !important;
          border-radius: 20px; }
  #footer .footer-cont-loc {
    text-align: center; }
    #footer .footer-cont-loc h3 {
      font-size: 1.4vw;
      margin-top: 25px;
      margin-bottom: 10px;
      color: #fff; }
  #footer .footer-copy {
    margin-top: 20px;
    background-color: #344249;
    height: 40px;
    text-align: center;
    position: relative;
    line-height: 40px; }
    #footer .footer-copy h3 {
      font-size: 1.1vw;
      color: #fff;
      font-family: 'Roboto', sans-serif !important; }
      #footer .footer-copy h3 a {
        color: #9e04f7;
        text-shadow: #8802d6 1px 0 1px; }

/* media query tasarım işlemleri */
@media all and (max-width: 1366px) {
  body h1 {
    font-size: 2vw !important; }
  body hr {
    width: 28% !important; }

  .nav {
    height: 72px !important; }
    .nav .nav-block .logo img {
      width: 45px !important; }
    .nav .nav-block .logo span {
      font-size: 2vw; }
    .nav .nav-block .menu a {
      font-size: 16px; }

  #header .parallax-window {
    height: 768px; }

  #works h1 {
    margin-top: 20px; }
  #works h2 {
    font-size: 1.9vw !important; }
  #works p {
    font-size: 1.3vw !important; }
  #works .work-block {
    width: 75% !important;
    height: 370px !important;
    margin-top: 45px !important;
    margin-bottom: 50px !important; }
  #works img {
    width: 58% !important; }

  #referans h1 {
    margin-top: 20px !important; }
  #referans .referans-card {
    width: 18% !important;
    height: 320px !important; }
  #referans .referans-content .referans-card .card-cont h1 {
    font-size: 1.2em !important; }

  #kurumsal .gallery {
    width: 25%;
    height: 140px !important; }
    #kurumsal .gallery h3 {
      font-size: 1.4vw !important;
      line-height: 140px; }

  #gallery-img .container .tz-gallery .card {
    height: 130px; }

  #footer input {
    height: 50px !important;
    margin-top: 8px !important; }
  #footer iframe {
    margin-top: 28px !important;
    height: 240px; }
  #footer .fab {
    margin: 5px 30px !important; }
  #footer #btn {
    width: 38% !important;
    height: 43px !important; } }
@media all and (max-width: 900px) {
  .nav {
    display: none; }

  .mobil-menu {
    display: inline; }

  #gallery-img h1 {
    padding-top: 15px; }
  #gallery-img .container .tz-gallery .card {
    height: 80px; } }
@media all and (max-width: 768px) {
  body h1 {
    font-size: 2.4vw !important; }

  #header .parallax-window {
    height: 600px !important; }
    #header .parallax-window .header-content h1 {
      font-size: 3.6vw !important; }
    #header .parallax-window .header-content h3 {
      font-size: 2.1vw !important; }
    #header .parallax-window .header-content .header-contact-block {
      margin-top: 15px; }
      #header .parallax-window .header-content .header-contact-block .fab, #header .parallax-window .header-content .header-contact-block .fas {
        font-size: 4vw; }
  #header .back-to-top .far {
    font-size: 5vw !important; }

  #works .work-content .work-block {
    width: 100% !important;
    height: 290px !important;
    margin-top: 20px !important;
    margin-bottom: 25px !important; }
    #works .work-content .work-block .block-content {
      margin: 20px 25px 0 25px; }
  #works .work-content h2 {
    margin-bottom: 4px;
    font-size: 2.3vw !important; }
  #works .work-content p {
    font-size: 1.7vw !important; }

  #referans .referans-card {
    width: 28% !important;
    height: auto !important; }
  #referans h4 {
    font-size: 2.1vw !important; }
  #referans p {
    font-size: 1.9vw !important;
    margin-bottom: 8%; }

  #kurumsal h2 {
    font-size: 2.6vw !important; }
  #kurumsal p {
    font-size: 2.2vw !important; }
  #kurumsal .firma-content .mission p {
    font-size: 1.8vw !important; }
  #kurumsal .firma-content .about p {
    font-size: 1.8vw !important; }

  #gallery-img h1 {
    padding-top: 15px; }
  #gallery-img .container .tz-gallery .card {
    width: 23% !important;
    height: 85px !important; }

  #footer input {
    height: 40px !important; }
    #footer input::placeholder {
      font-size: 1.3vw !important; }
  #footer .fab {
    font-size: 2em !important; }
  #footer iframe {
    height: 200px !important; }
  #footer #btn {
    height: 30px !important; }
  #footer .footer-copy h3 {
    font-size: 1.5vw; } }
@media all and (max-width: 430px) {
  .nav .nav-block .logo img {
    width: 32px !important; }
  .nav .nav-block span {
    font-size: 3.5vw !important; }

  #header {
    height: 330px !important; }
    #header .parallax-window {
      height: 355px !important; }
      #header .parallax-window .header-content {
        width: 68%;
        top: 37% !important;
        left: 14%;
        right: 14%; }
        #header .parallax-window .header-content h1 {
          font-size: 4.8vw !important;
          border-radius: 8px 8px 0 0; }
        #header .parallax-window .header-content h3 {
          font-size: 3vw !important; }
        #header .parallax-window .header-content .header-contact-block {
          margin-top: 15px;
          margin-left: 3%; }
          #header .parallax-window .header-content .header-contact-block .fab, #header .parallax-window .header-content .header-contact-block .far {
            font-size: 30px; }
            #header .parallax-window .header-content .header-contact-block .fab span, #header .parallax-window .header-content .header-contact-block .far span {
              display: none; }
    #header .back-to-top .far {
      font-size: 8vw !important; }

  #works h1 {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 3.2vw !important; }
  #works hr {
    padding: 1.5px;
    width: 50% !important; }
  #works .fas {
    top: -12px;
    padding: 0 6px;
    font-size: 6.2vw; }
  #works .work-content h2 {
    font-size: 3.3vw !important; }
  #works .work-content p {
    font-size: 2.6vw !important; }
  #works .work-content .work-block {
    width: 100% !important;
    height: 200px !important;
    margin-top: 15px !important;
    margin-bottom: 20px !important; }
    #works .work-content .work-block .block-content {
      margin: 20px; }
    #works .work-content .work-block img {
      width: 46% !important; }

  #referans {
    padding-top: 10px !important; }
    #referans h1 {
      margin-top: 0 !important;
      margin-bottom: 16px;
      font-size: 3.2vw !important; }
    #referans hr {
      padding: 1.5px;
      width: 50% !important; }
    #referans .fas {
      top: -12px;
      padding: 0 6px;
      font-size: 6.2vw; }
    #referans h4 {
      font-size: 2.8vw !important;
      margin: 0 0 !important; }
    #referans p {
      font-size: 2.3vw !important; }
    #referans .referans-content {
      margin-bottom: -50px; }
      #referans .referans-content .referans-card .card-cont h1 {
        font-size: 0.7em !important; }

  #kurumsal {
    padding-bottom: 0 !important; }
    #kurumsal .firma-content {
      padding-top: 100px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      #kurumsal .firma-content .about {
        border-radius: 15px;
        width: 85%;
        margin-left: 50%;
        transform: translate(-50%); }
        #kurumsal .firma-content .about h2 {
          padding-top: 10px !important;
          font-size: 3.5vw !important; }
        #kurumsal .firma-content .about p {
          width: 90%;
          font-size: 2.9vw !important;
          margin-top: 10px !important;
          padding-bottom: 10px !important; }
      #kurumsal .firma-content .mission {
        border-radius: 15px;
        width: 85%;
        margin-left: 50%;
        transform: translate(-50%); }
        #kurumsal .firma-content .mission h2 {
          padding-top: 10px !important;
          font-size: 3.5vw !important; }
        #kurumsal .firma-content .mission p {
          width: 90%;
          font-size: 2.9vw !important;
          margin-top: 10px !important;
          padding-bottom: 10px !important; }
    #kurumsal .gallery {
      width: 50% !important;
      height: 75px !important;
      margin-top: 25px !important;
      margin-bottom: 25px !important;
      border-radius: 15px; }
      #kurumsal .gallery h3 {
        font-size: 3.3vw !important;
        line-height: 75px; }

  #gallery-img h1 {
    margin-top: -40px !important;
    font-size: 3.2vw !important; }
  #gallery-img .container .tz-gallery .card {
    margin: 1.6% !important;
    width: 30% !important; }

  #gallery-img:after {
    top: -50px; }

  #footer #btn {
    height: 35px !important; }
  #footer input {
    height: 35px !important;
    font-size: 12px !important; }
    #footer input::placeholder {
      font-size: 2.1vw !important; }
  #footer iframe {
    height: 150px !important; }
  #footer .footer-nav a {
    font-size: 2.6vw;
    margin-left: 6px;
    margin-right: 6px; }
  #footer .footer-content {
    display: block;
    padding-top: 0; }
    #footer .footer-content .footer-block {
      width: 100%; }
      #footer .footer-content .footer-block h2 {
        font-size: 2.8vw;
        margin-top: 20px; }
        #footer .footer-content .footer-block h2 .fas {
          font-size: 5.2vw; }
  #footer .footer-cont-loc h3 {
    font-size: 3vw; } }
@media all and (max-width: 375px) {
  .mobil-menu .nav-container .logo a {
    font-size: 4vw !important; }

  #works .work-content h2 {
    font-size: 3.3vw !important; }
  #works .work-content p {
    font-size: 2.7vw !important; }
  #works .work-content .work-block {
    height: 180px !important; }
    #works .work-content .work-block .block-content {
      margin: 15px; }

  #referans .referans-content .referans-card {
    margin-bottom: 12px !important;
    width: 30% !important;
    margin-left: 4px !important;
    margin-right: 4px !important; }
    #referans .referans-content .referans-card .card-cont h1 {
      font-size: 0.65em !important; }
    #referans .referans-content .referans-card .card-cont p {
      font-size: 2.6vw !important; } }

/*# sourceMappingURL=style.css.map */
