<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization requestEncoding="iso-8859-9" responseEncoding="iso-8859-9" culture="tr-TR" uiCulture="tr-TR" fileEncoding="iso-8859-9" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>